<div class="p-4 bg-light rounded-3">
  <h1 class="display-6">Welcome to the Step-CA Frontend</h1>
  <p class="lead">Create & manage X.509 certificates and S/MIME bundles.</p>
  <hr>
  <div class="d-flex flex-wrap gap-2">
    <a class="btn btn-primary" href="/certs/new">Issue TLS Cert</a>
    <a class="btn btn-secondary" href="/certs/smime">Issue S/MIME</a>
    <a class="btn btn-outline-success" href="/certs/renew">Renew</a>
    <a class="btn btn-outline-warning" href="/certs/revoke">Revoke</a>
    <a class="btn btn-outline-dark" href="/ca">CA Tools</a>
  </div>
</div>
