<div class="col-sm-2">
  <label class="form-label">Direction</label>
  <select name="sortDir" class="form-select">
    <option value="desc" <%= String(sortDir)==='desc'?'selected':'' %>>Desc</option>
    <option value="asc"  <%= String(sortDir)==='asc' ?'selected':'' %>>Asc</option>
  </select>
</div>
